[submodule "extern/EACopy"]
	path = extern/EACopy
	url = https://github.com/loonghao/EACopy.git

[submodule "extern/xdelta"]
	path = extern/xdelta
	url = https://github.com/jmacd/xdelta.git

[submodule "extern/zstd"]
	path = extern/zstd
	url = https://github.com/facebook/zstd.git

[submodule "extern/xz"]
	path = extern/xz
	url = https://github.com/tukaani-project/xz.git
