[submodule "external/EACopy"]
	path = external/EACopy
	url = https://github.com/electronicarts/EACopy.git
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "extern/EACopy"]
	path = extern/EACopy
	url = https://github.com/electronicarts/EACopy.git
